extends layout

block title
  title Login

block content

  .container    
          form.form-signin(method='POST' action='/login')
            h5.card-title.text-center Sign In
            .form-group
              label.bmd-label-floating(for='inputUsername') Username
              input#inputUsername.form-control(type='text' name="username" required='true' autofocus='')
            br
            .form-group
              label.bmd-label-floating(for='inputPassword') Password
              input#inputPassword.form-control(type='password' name="password" required='true')
            br
            button.btn.btn-outline-dark.btn-block.text-uppercase(type='submit') Sign in
            br
            a.float-right.badge.badge-dark(href='/registration') Registration
            hr.my-4
            p.text-danger.text-center #{message}
            if errors       
                ul.list-group
                    each val, index in errors
                        li.list-group-item.list-group-item-danger.text-sm-left.small= val.msg