extends layout

block content

  .container
  .row
    .col-sm-9.col-md-7.col-lg-5.mx-auto
      .card.card-signin.my-5
        .card-body
          h5.card-title.text-center Sign Up
          form.form-signin(method='POST' action='/register')
            .form-label-group
              label(for='inputUsername') Username
              input#inputUsername.form-control(type='text' name="username" placeholder='Username' required='true' autofocus='' value= username ? username : '')
            br
            .form-label-group
              label(for='inputPassword') Password
              input#inputPassword.form-control(type='password' name="password" placeholder='Password' required='true')
            br
            .form-label-group
              label(for='confirmPassword') Confirm Password
              input#confirmPassword.form-control(type='password' name="confirmPassword" placeholder='Confirm Password' required='true')
            br
            button.btn.btn-lg.btn-primary.btn-block.text-uppercase(type='submit') Sign Up
            br
            a.float-right(href='/login') Login
            hr.my-4
            .error #{message}
            if errors       
                ul
                    each val, index in errors
                        li.text-danger= val.msg