extends layout

block append head  
  script(src='https://www.google.com/recaptcha/api.js')
  
block append script
  //- Submit registration form script
  script.
    $(document).ready(function() {
      $('#registrationForm').submit(function() {
        $(this).ajaxSubmit({
          error: function(xhr) {
            console.log('Error: ' + xhr.status);
          }
        });
        //Very important line, it disable the page refresh.
        return false;
      });
    });

block content

    .container
          form#registrationForm.form-signin(method='POST' action='/register')
            h5.card-title.text-center Sign Up
            .form-group
              label.bmd-label-floating(for='inputUsername') Username
              input#inputUsername.form-control(type='text' name="username" required='true' autofocus='' value= username ? username : '')
            br
            .form-group
              label.bmd-label-floating(for='inputPassword') Password
              input#inputPassword.form-control(type='password' name="password" required='true')
            br
            .form-group
              label.bmd-label-floating(for='confirmPassword') Confirm Password
              input#confirmPassword.form-control(type='password' name="confirmPassword" required='true')
            br
            .g-recaptcha(data-sitekey=recaptchaSiteKey)
            br
            button.btn.btn-outline-dark.btn-block.text-uppercase(type='submit') Sign Up
            br
            a.float-right.badge.badge-dark(href='/login') Login
            hr.my-4
            .error #{message}
            if errors       
                ul.list-group
                    each val, index in errors
                        li.list-group-item.list-group-item-danger.text-sm-left.small= val.msg